/*	Montserrat bold */
@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot?') format('eot'),
    url("fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*	Montserrat bold */
@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Bold/Montserrat-Bold.eot?') format('eot'),
    url("fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url('fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
    url('fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*	BackwardsScript regular */
@font-face {
    font-family: BackwardsScript;
    src: url('fonts/BackwardsScript-Regular/BackwardsScript-Regular.eot?') format('eot'),
    url("fonts/BackwardsScript-Regular/BackwardsScript-Regular.eot?#iefix") format("embedded-opentype"),
    url('fonts/BackwardsScript-Regular/BackwardsScript-Regular.woff') format('woff'),
    url('fonts/BackwardsScript-Regular/BackwardsScript-Regular.ttf') format('truetype'),
    url('fonts/BackwardsScript-Regular/BackwardsScript-Regular.svg#BackwardsScript-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

ul, ol {
    padding: 0;
    margin: 0;
}

* {
    outline: 0 !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
    line-height: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

body {
    line-height: normal;
    color: #000;
    height: 100%;
    background-color: #fff;
    font-family: Montserrat;
    font-weight: 400;
}

.container {
    max-width: 1200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 0 auto;
}

header {
    position: fixed;
    z-index: 1;
    background: #ffffff;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.06);
}

.header-logo {
    width: 100%;
    opacity: 1;
    transition: 0.3s all;
    display: block;
    height: 143px;
}

.header-logo:hover {
    opacity: 0.7;
}

.header-logo svg {
    width: 100%;
    max-height: 100%;
    fill: #0b0601;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    margin: 68px 0 0;
}

.header-menu a {
    display: inline-block;
    font-size: 18px;
    padding: 10px 37px 10px 0;
    font-weight: 700;
    color: #0b0601;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s all;
}

.header-menu a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #0b0601;
    opacity: 0.7;
    transition: 0.3s all;
}

.header-menu a:hover::after {
    width: 30%;
}

.header-phone {
    display: flex;
    flex-direction: column;
    margin: 41px 0 0;
}

.header-phone span {
    font-size: 18px;
    font-weight: 400;
    color: #0b0601;
    padding-bottom: 12px;
}

.header-phone a {
    font-size: 21px;
    font-weight: 700;
    color: #0b0601;
    transition: 0.3s all;
    opacity: 1;
}

.header-phone a:hover {
    opacity: 0.6;
}

.header-banner {
    margin-top: 143px;
}

.header-slider {
    position: relative;
}

.slick-dots {
    bottom: 30px;
}

.slick-dots li {
    width: 14px;
    height: 14px;
    margin: 0 15px;
}

.slick-dots li button {
    width: 14px;
    height: 14px;
    border: 2px solid #d9daee;
    border-radius: 50%;
    transition: 0.3s all;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li.slick-active button,
.slick-dots li button:hover {
    border: 2px solid #008d36;
}

.header-banner__item {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #0b0601;
    padding: 0 0 15px;
}

.header-banner__sub-title {
    font-size: 24px;
    font-weight: 400;
    color: #0b0601;
    max-width: 600px;
    padding: 20px 0;
}

.header-banner .main_btn {
    margin: 80px 0 0;
}

.main_btn {
    font-size: 24px;
    color: #ffffff;
    padding: 19px 45px;
    background: #008d36;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    display: inline-block;
    transition: 0.3s all;
    opacity: 1;
    cursor: pointer;
}

.main_btn:hover {
    color: #ffffff;
    opacity: 0.7;
}

.statistics {
    padding: 14px 0;
}

.stat-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-item {
    display: inline-flex;
    align-items: center;
    width: calc(100% / 3);
}

.stat-item:nth-child(2) {
    justify-content: center;
}

.stat-item:last-child {
    justify-content: flex-end;
}

.stat-item b {
    font-size: 60px;
    font-weight: 700;
    color: #0b0601;
    margin-right: 15px;
}

.stat-item span {
    font-size: 24px;
    font-weight: 400;
    color: #0b0601;
}

.interior {
    padding: 90px 0 0;
}

.text ul {
    list-style: none;
    padding: 11px 0;
}

.text ul li {
    font-size: 16px;
    font-weight: 400;
    color: #0b0601;
    position: relative;
    padding: 10px 0 10px 30px;
}

.text ul li:before {
    content: '';
    background: url('/images/li-before.png');
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
}

.interior__text-title {
    font-size: 20px;
    font-weight: 700;
    color: #0b0601;
    line-height: 30px;
    padding: 0 0 20px;
}

.interior__img {
    width: 100%;
}

.interior__img img {
    width: 100%;
}

.interior-slider__block {
    margin: -35px 0 0;
}

.happiness-place {
    padding: 96px 0 0;
}

.happiness-place > .container {
    display: flex;
    justify-content: space-between;
}

.happiness-place__img img {
    width: 370px;
}

.happiness-place__text {
    width: calc(100% - 380px);
}

.happiness-place__text.text ul {
    padding: 28px 0;
}

.happiness-place__text.text ul li {
    font-size: 18px;
    padding: 11px 0 12px 30px;
    line-height: 30px;
}

.happiness-place__text.text ul li:before {
    top: 21px;
    transform: none;
}

.food {
    padding: 101px 0;
}

.food .title {
    padding: 0 0 23px;
}

.food-block {
    display: flex;
    flex-direction: column;
    padding: 38px 0 0;
}

.food-block.with-label {
    position: relative;
}

.food-block.with-label:after {
    position: absolute;
    content: '';
    right: -150px;
    bottom: 5px;
    width: 280px;
    height: 280px;
    object-fit: cover;
    background: url('/images/food-label.png');
    -webkit-background-size: 100%;
    background-size: 100%;
}

.food-block__title {
    font-family: BackwardsScript;
    font-size: 40px;
    color: #0b0601;
    padding: 10px 0 0;
}

.food-block__items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.food-block__item {
    width: calc(100% / 3 - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 10px 25px 0;
}

.food-block__item-name {
    display: flex;
    position: relative;
    margin-bottom: 8px;
}

.food-block__item-name b {
    font-size: 18px;
    font-weight: 700;
    color: #0b0601;
    margin-right: 10px;
    max-width: calc(100% - 25px);
}

.food-block__item-name span {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0b0601;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
}

.food-block__item-name span svg {
    width: 4px;
    height: 8px;
    fill: #0b0601;
}

.food-block__item-name p {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #0b0601;
    line-height: 24px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 7, 3, 0.08);
    z-index: 1;
}

.food-block__item-name p:before {
    position: absolute;
    content: '';
    left: 149px;
    top: -5px;
    width: 8px;
    height: 6px;
    background: url('/images/info-corner.png');
    display: none;
}

.food-block__item-name.active p {
    opacity: 1;
    visibility: visible;
}

.food-block__item-info {
    display: flex;
    align-items: flex-end;
}

.food-block__item-info span {
    font-size: 24px;
    color: #0b0601;
    font-weight: 400;
    margin-right: 50px;
}

.food-block__item-info i {
    font-size: 16px;
    color: #0b0601;
    font-weight: 400;
    font-style: normal;
}

.food-block__items.specific {
    max-width: 570px;
}

.food-block__items.pdt {
    padding: 10px 0 0;
}

.food-block__items.pdb {
    padding: 0 0 10px;
}

.food-block__items.specific .food-block__item {
    width: calc(100% / 2 - 15px);
}

.contacts {
    padding: 65px 0;
}

.contacts p.title {

}

.card-block {
    position: relative;
    margin: 26px 0 0;
}

.card-block__text {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 100%;
    padding: 55px 0 0;
}

.card-block__text:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 200px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.card-block__text-block {
    display: flex;
    flex-direction: column;
}

.card-block__text-item {
    display: flex;
    padding: 5px 0;
}

.card-block__text-item b {
    font-size: 20px;
    font-weight: 700;
    color: #0b0601;
    width: 120px;
}

.card-block__text-item span {
    display: flex;
    flex-direction: column;
}

.card-block__text-item span i {
    font-size: 16px;
    font-weight: 400;
    color: #0b0601;
    font-style: normal;
    line-height: 24px;
}

.card-block__text-item span i:nth-child(2) {
    padding-top: 10px;
}

.card-block__time-wrapper {
    text-align: center;
}

.card-block__time {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    padding: 7px 0 0;
}

.card-block__time p {
    display: inline-flex;
    align-items: center;
    padding: 0 0 15px;
}

.card-block__time p span {
    font-size: 16px;
    font-weight: 400;
    color: #0b0601;
}

.card-block__time p span:nth-child(odd) {
    width: 70px;
}

.card-block__social {
    padding: 8px 0 0;
}

.card-block__social a {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 7px 10px;
}

.card-block__social a svg {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s all;
}

.card-block__social a:hover svg {
    opacity: 0.7;
}

.card-block__social a svg.vk {
    fill: #4a76a8;
}

.card-block__social a svg.whatsapp {
    fill: #1bd741;
}

.ymaps-2-1-72-search.ymaps-2-1-72-search_layout_normal.ymaps-2-1-72-searchbox__normal-layout,
.ymaps-2-1-72-controls__control_toolbar.ymaps-2-1-72-user-selection-none,
.ymaps-2-1-72-traffic,
.ymaps-2-1-72-controls__control,
.ymaps-2-1-72-controls__control_toolbar,
.ymaps-2-1-72-route-panel-button,
.ymaps-2-1-72-copyrights-pane {
    display: none !important;
}

.ymaps-2-1-72-user-selection-none, .ymaps-2-1-72-user-selection-none {
    background: none !important;
}

.connect {
    padding: 45px 0 120px;
    text-align: center;
}

.connect__title {
    font-size: 36px;
    font-weight: 400;
    color: #1c1c1c;
}

.connect .main_btn {
    padding: 19px 80px;
    margin: 51px 0 0;
}

footer {
    background: #2d2d2d;
    padding: 33px 0;
}

.footer-logo {
    display: block;
    opacity: 1;
    transition: 0.3s all;
}

.footer-logo svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-copyright {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 94px 0 0;
}

.footer-author {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 94px 0 0;
}

.footer-author i {
    opacity: 1;
    transition: 0.3s all;
    position: relative;
    color: #ffffff;
    font-style: normal;
}

.footer-author i:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
}

.footer-author i:hover,
.footer-author i:hover::after {
    opacity: 0.7;
}

.food-block__title > svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    fill: #0b0601;
    transition: 0.3s all;
    transform: rotate(90deg);
}

.food-block__title.collapsed > svg {
    transform: rotate(0);
}

.modal-dialog {
    width: 830px;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 90px 100px;
}

.modal-backdrop {
    background: #888888;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 16px;
    height: 16px;
    fill: #0b0601;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s all;
}

.modal-close:hover {
    opacity: 0.7;
}

.modal-title {
    font-size: 36px;
    font-weight: 700;
    color: #0b0601;
    text-align: center;
    padding-bottom: 50px;
}

.modal-form {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.modal-form .input-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.modal-form .input-block label {
    font-size: 10px;
    font-weight: 700;
    color: #0b0601;
    margin: 0 0 7px 0;
    text-transform: uppercase;
}

.modal-form .input-block input {
    padding: 10px 15px;
    border: 1px solid #888888;
}

.modal-info {
    font-size: 10px;
    font-weight: 400;
    color: #0b0601;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 60px;
}

.modal-form input[type='submit'] {
    font-size: 24px;
    color: #ffffff;
    padding: 19px 45px;
    background: #008d36;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    display: inline-block;
    transition: 0.3s all;
    opacity: 1;
    border: 0;
    align-self: center;
}

.modal-form input[type='submit']:hover {
    color: #ffffff;
    opacity: 0.7;
}

@media (max-width: 992px) {
    .header-logo {
        height: 82px;
        width: 130px;
    }

    .header-phone {
        text-align: center;
        margin: 19px 0 0;
    }

    .header-phone span {
        font-size: 16px;
        padding-bottom: 6px;
    }

    .header-phone a {
        font-size: 18px;
    }

    .mobile-menu {
        margin: 30px 0 0;
    }

    .mobile-menu__burger {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
    }

    .mobile-menu__burger span {
        height: 3px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50px;
        background-color: #0b0601;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    .mobile-menu__burger span::before,
    .mobile-menu__burger span::after {
        content: '';
        position: absolute;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
        margin: auto;
        width: 100%;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    .mobile-menu__burger span::before {
        top: -12px;
        left: 0;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
    }

    .mobile-menu__burger span::after {
        bottom: -12px;
        right: 0;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
    }

    .mobile-menu__burger span.open {
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
        -ms-transform: translate(-50%, -50%) rotate(135deg);
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .mobile-menu__burger span.open::before {
        top: 0;
        width: 50%;
        -webkit-transform: translateX(100%) rotate(-90deg);
        -ms-transform: translateX(100%) rotate(-90deg);
        transform: translateX(100%) rotate(-90deg);
    }

    .mobile-menu__burger span.open::after {
        bottom: 0;
        width: 50%;
        -webkit-transform: translateX(-100%) rotate(-90deg);
        -ms-transform: translateX(-100%) rotate(-90deg);
        transform: translateX(-100%) rotate(-90deg);
    }

    .dropdown {
        position: absolute;
        top: 0;
        right: -10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 1px 0 rgba(0, 7, 3, 0.25);
        background: #ffffff;
        width: 270px;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
    }

    .dropdown.opened {
        opacity: 1;
        visibility: visible;
    }

    .dropdown__block {
        display: flex;
        flex-direction: column;
        padding: 43px 0 0;
    }

    .dropdown__block a {
        font-size: 18px;
        font-weight: 700;
        color: #0b0601;
        text-transform: uppercase;
        position: relative;
        transition: 0.3s all;
        padding: 5px 0 3px;
        margin: 6px 0;
    }

    .dropdown__block a:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #0b0601;
        opacity: 0.7;
        transition: 0.3s all;
    }

    .dropdown__block a:hover:after {
        width: 20%;
    }

    .dropdown__copyright {
        font-size: 12px;
        font-weight: 400;
        color: #0b0601;
        margin: 35px 0 14px;
    }

    .dropdown__author {
        font-size: 12px;
        font-weight: 400;
        color: #0b0601;
    }

    .dropdown__author i {
        color: #0b0601;
        opacity: 1;
        transition: 0.3s all;
        position: relative;
        font-style: normal;
    }

    .dropdown__author i:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: #0b0601;
    }

    .dropdown__author i:hover,
    .dropdown__author i:hover::after {
        opacity: 0.7;
    }

    .header-banner {
        margin-top: 82px;
    }

    .interior-slider .slick-slide img {
        object-fit: cover;
        max-height: 235px;
        width: 100%;
    }

    .title {
        font-size: 24px;
        line-height: 36px;
        padding: 0;
    }

    .header-banner__sub-title {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 0 0;
    }

    .main_btn {
        font-size: 14px;
        padding: 11px 25px;
    }

    .header-banner .main_btn {
        margin: 30px 0 0;
    }

    .slick-dots {
        bottom: 40px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .statistics {
        padding: 25px 0;
    }

    .stat-item b {
        font-size: 30px;
    }

    .stat-item span {
        font-size: 12px;
    }

    .interior {
        padding: 18px 0;
    }

    .interior__text.text ul {
        display: flex;
        flex-wrap: wrap;
    }

    .interior__text.text ul li {
        width: calc(100% / 2);
    }

    .interior__text-title {
        font-size: 24px;
    }

    .interior-slider__block {
        margin: 0;
    }

    .happiness-place {
        padding: 15px 0 0;
    }

    .happiness-place__img {
        display: none;
    }

    .happiness-place__text {
        width: 100%;
    }

    .happiness-place__text.text ul {
        padding: 10px 0 0;
    }

    .food-block__title {
        font-size: 24px;
    }

    .food-block__item-name b {
        font-size: 12px;
    }

    .food-block__item-info span {
        font-size: 18px;
    }

    .food-block__item-info i {
        font-size: 12px;
    }

    .food-block.with-label:after {
        width: 190px;
        height: 190px;
        left: 113%;
        bottom: 25px;
    }

    .food-block__items.specific.non-specific {
        max-width: 100%;
    }

    .food-block__items.specific.non-specific .food-block__item {
        width: calc(100% / 3 - 15px);
    }

    .food {
        padding: 32px 0 15px;
    }

    .food .title {
        padding: 0 0 10px;
    }

    .food-block {
        padding: 20px 0 0;
    }

    .food-block__title {
        padding: 0;
    }

    .food-block__item {
        margin: 11px 10px 9px 0;
    }

    .card-block__text-item b {
        font-size: 20px;
    }

    .card-block__text-item span {
        font-size: 16px;
    }

    .contacts {
        padding: 15px 0;
    }

    .card-block__social a {
        width: 32px;
        height: 32px;
        margin: 0 0 7px 0;
    }

    .connect {
        padding: 45px 0 35px;
    }

    .connect__title {
        font-size: 18px;
        font-weight: 700;
    }

    .connect .main_btn {
        padding: 10px 46px;
        margin: 23px 0 0;
    }

    footer {
        display: none;
    }

    .food-block__title > svg {
        width: 10px;
        height: 12px;
    }

    .modal-dialog {
        max-width: 80%;
    }

    .modal-content {
        padding: 50px;
    }

    .modal-title {
        padding-bottom: 0;
    }

    .modal-form .input-block {
        padding-bottom: 20px;
    }

    .modal-info {
        margin: 0 0 20px;
    }

    .modal-form input[type='submit'] {
        padding: 11px 45px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header-phone {
        text-align: left;
        margin: 15px 0;
    }

    .header-phone span {
        font-size: 12px;
    }

    .header-phone a {
        font-size: 16px;
    }

    .mobile-menu {
        margin: 22px 0 0;
        display: flex;
        justify-content: flex-end;
    }

    .header-banner .slick-slide img {
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    .header-banner {
        margin-top: 70px;
        height: auto;
    }

    .header-banner__item {
        top: 0;
        transform: none;
    }

    .slider-logo {
        width: 100%;
    }

    .slider-logo svg {
        width: 100%;
        max-width: 150px;
        height: 95px;
        fill: #0b0601;
    }

    .header-banner__text-block.header-banner__text-block_xs {
        text-align: center;
        padding: 23px 15px 0;
    }

    .title {
        font-size: 14px;
        line-height: 21px;
    }

    .header-banner__sub-title {
        font-size: 14px;
        line-height: 21px;
    }

    .header-banner__text-block.header-banner__text-block_xs .main_btn {
        display: none;
    }

    .stat-items {
        align-items: flex-start;
    }

    .stat-item {
        align-items: flex-start;
        flex-direction: column;
    }

    .stat-item b {
        font-size: 24px;
    }

    .stat-item span {
        font-size: 10px;
        line-height: normal;
    }

    .stat-item:last-child {
        width: auto;
    }

    .interior-slider {
        order: 1;
        padding: 15px 0 0;
    }

    .interior-slider .slick-slide img {
        max-height: 180px;
    }

    .interior__text-title {
        font-size: 14px;
        line-height: 21px;
    }

    .interior__text.text ul {
        display: flex;
        flex-direction: column;
    }

    .interior__text.text ul li {
        width: 100%;
        font-size: 12px;
    }

    .interior {
        order: 2;
        padding: 35px 0 0;
    }

    .interior__text-title {
        padding: 0 0 5px;
    }

    .text ul li {
        padding: 7px 0 7px 30px;
    }

    .happiness-place {
        order: 3;
        padding: 10px 0 0;
    }

    .happiness-place > .container {
        flex-direction: column;
    }

    .happiness-place__text {
        order: 2;
    }

    .happiness-place__img {
        display: inherit;
        order: 1;
        margin-bottom: 23px;
    }

    .happiness-place__img img {
        width: 100%;
        object-fit: cover;
        max-height: 280px;
    }

    .happiness-place__text.text ul li {
        font-size: 12px;
        line-height: 18px;
        padding: 9px 0 3px 30px;
    }

    .happiness-place__text.text ul {
        padding: 16px 0 0;
    }

    .happiness-place__text.text ul li:before {
        top: 12px;
    }

    .food {
        order: 4;
    }

    .food-block__title {
        font-size: 16px;
    }

    .food-block__title > svg {
        width: 18px;
        height: 8px;
        margin: 0;
    }

    .food-block.with-label:after {
        display: none;
    }

    .food-block__item {
        width: 100% !important;
        margin: 11px 10px 9px 20px;
    }

    .food-block__item-name p {
        padding: 10px;
        font-size: 12px;
    }

    .food-block__item-name span {
        margin-top: 0;
    }

    .contacts {
        order: 5;
    }

    .card-block__text:before {
        height: 260px;
    }

    .card-block__text-item b,
    .card-block__text-item span i,
    .card-block__time p span {
        font-size: 12px;
    }

    .card-block__social {
        display: flex;
        justify-content: center;
    }

    .card-block__text {
        padding: 0;
    }

    .card-block {
        margin: 17px 0 0;
    }

    .card-block__social a {
        margin: 7px;
    }

    .card-block__text-item span i {
        line-height: 16px;
    }

    .card-block__text-item b {
        width: 94px;
    }

    .card-block__text-item:last-child {
        margin: 9px 0 0;
    }

    .card-block__time {
        padding: 16px 0 0;
        margin-left: 37px;
    }

    .card-block__time p {
        padding: 0 0 10px;
    }

    .connect {
        order: 6;
        padding: 37px 0 35px;
    }

    .connect .main_btn {
        margin: 27px 0 0;
    }

    .modal-dialog {
        margin: 10px auto;
        width: 300px;
    }

    .modal-content {
        padding: 20px;
    }

    .modal-close {
        top: 15px;
        right: 15px;
    }

    .modal-title {
        padding: 15px 0 0;
    }

    .modal-form {
        padding-top: 30px;
    }

    .modal-form input[type='submit'] {
        font-size: 14px;
        padding: 8px 45px;
    }
}